@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&display=swap");
@import "tailwindcss";

@theme {
  --font-lead-font: "BIZ UDPMincho";
  --font-body-font: "Lato";
}

html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.settings {
  animation: rotate 0.6s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slide {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(-5340px);
  }
}
.slideshow {
  animation: slide 20s linear alternate;
}
